/* Global */
body {
  font-family: "Source Sans Pro", sans-serif;
}

section {
  padding: 50px 0;
}

section.primary {
  background: #f3f2f2;
}

section.secondary {
  background: #4c4c4c;
  color: #fff;
}

.invis-divider {
  margin: 0 5px;
  visibility: hidden;
}

/* Header */
.site-header {
  position: relative;
}

.header-phone {
  position: absolute;
  top: 37px;
  right: 25px;
}

.site-header .container {
  position: relative;
}

.header-logo {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-phone-text {
  color: #c3002f;
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 0;
}

.header-phone-text a {
  color: #000;
  font-weight: 600;
}

/* Navbar */
.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

#navbarNav {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.77);
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.93);
}

.bg-light {
  background-color: #4c4c4c !important;
  border-bottom: 2px solid #333333;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler {
  font-size: 1.45rem;
}

/* Slideshow banner */
@media only screen and (min-width: 1400px) {
  .carousel-inner {
    max-height: 550px;
  }
}
/* Search Field */
.car-search {
  background: #c3002f;
  padding: 20px;
  border-bottom: 4px solid #900000;
}

.car-search-fields {
  display: flex;
  justify-content: space-between;
}

.car-search-fields select {
  width: 24%;
}

.search-button {
  background: #4c4c4c;
  border: none;
  color: #fff;
  padding: 5px 35px;
  border-radius: 3px;
  box-shadow: 0px 2px #333;
  transition: all 0.3s ease;
}

.search-button:hover,
.search-button:focus {
  background: #333;
}

.car-search-button {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

select {
  border-radius: 3px;
  padding: 5px 10px;
  color: #212121;
  font-weight: 600;
  border: 1px solid #cdcdcd;
  background: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'><path d='M10.59.59L6 5.17 1.41.59 0 2l6 6 6-6' fill='%232d3737' fill-rule='evenodd'/></svg>")
    no-repeat right #fff;
  -webkit-appearance: none;
  cursor: pointer;
  background-origin: content-box;
  background-position: right 0.5rem;
}

/* Services cards */

.services-home .container {
  display: flex;
  justify-content: space-between;
}

.services-home .container .card {
  width: 24%;
}

.card {
  background-color: #4c4c4c;
  border: none;
  border-radius: 0;
  border-bottom: 4px solid #333333;
  transition: all 0.3s ease;
}
.card:hover,
.card:focus {
  background: #333;
}

.card a:hover {
  text-decoration: none;
}

.card-body {
  color: #fff;
  text-align: center;
  line-height: 1;
  transition: all 0.3s ease;
}

.card-title {
  font-size: 1.45rem;
  margin-bottom: 4px;
}

.card-text {
  font-size: 14px;
  font-weight: 300;
}

/* Home intro text */
.intro-text-home.primary {
  text-align: center;
}

.intro-text-home p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  max-width: 950px;
  margin: 0 auto;
}

.intro-text-home {
  padding: 75px 0;
}

/* Featured cars */
.featured-vehicles.default {
  padding: 75px 0 100px;
}

.featured-vehicles.default h2 {
  text-align: center;
}

.featured-vehicles .container-fluid {
  max-width: 95%;
}

.slick-prev::before,
.slick-next::before {
  color: #000 !important;
}

.featured-vehicles .card {
  background: none;
  border: none;
}

.card-container {
  margin: 2%;
  background: #c3002f;
}

.card-container {
  margin: 2%;
  background: #c3002f;
  border-bottom: 4px solid #900000;
  transition: all 0.3s ease;
}

.vehicles-slider .card-body:hover,
.vehicles-slider .card-body:focus {
  background: #900000;
}

.card-container i {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  font-size: 25px;
}

.card-container p {
  margin-bottom: 2px;
}

.car-make-model,
.car-info {
  font-weight: 300;
}

.vehicles-slider .card-body {
  padding: 10px;
}

.car-price {
  font-size: 25px;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 10px 50px;
}

.breadcrumbs a {
  color: #fff;
}

.breadcrumbs span {
  margin: 0 10px;
}

/* Footer */
footer {
  background: #333333;
  text-align: center;
  color: #fff;
  padding: 50px;
  font-weight: 300;
}

footer a {
  color: #fff;
  font-weight: 300;
}

footer a:hover {
  color: #fff;
}

footer a i {
  font-size: 30px;
}

.footer-social-icons {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer-social-icons i {
  transition: all 0.3s ease;
}

.footer-social-icons i:hover,
.footer-social-icons i:focus {
  color: #c8c8c8;
}

.footer-list ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0;
}

.footer-list ul li {
  padding: 0 5px;
}

.footer-dealer-list {
  max-width: 600px;
  margin: 15px auto 0;
  padding: 10px 0;
}

.footer-legal.footer-list {
  max-width: 250px;
  margin: 0 auto;
  padding: 10px 0 20px;
}

/* Responsive */
@media only screen and (max-width: 767px) {
  .container,
  .container-sm {
    max-width: 700px;
  }

  .featured-vehicles .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .container,
  .container-sm {
    max-width: 700px;
  }

  .car-search-fields {
    flex-wrap: wrap;
  }

  .car-search-fields select {
    width: 100%;
    margin-bottom: 15px;
  }

  .services-home .container {
    flex-wrap: wrap;
  }

  .services-home .container .card {
    width: 49%;
    margin-bottom: 10px;
  }

  .header-logo img {
    width: 100px;
  }

  .header-phone {
    top: 22px;
  }

  .header-phone-text {
    font-size: 16px;
  }

  .header-logo {
    padding: 20px 0px;
  }
}

@media only screen and (max-width: 265px) {
  .header-phone {
    display: none;
  }
}
