/* Global */
body {
  font-family: "Source Sans Pro", sans-serif;
}

section {
  padding: 77px 0;
}

section.primary {
  background: #f3f2f2;
}

section.secondary {
  background: #4c4c4c;
  color: #fff;
}

.invis-divider {
  margin: 0 5px;
  visibility: hidden;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  max-width: 1400px;
}

.h2,
h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
}

/* Header */
.site-header {
  position: relative;
}

.header-phone {
  position: absolute;
  top: 75px;
  right: 25px;
}

.site-header .container {
  position: relative;
}

.header-logo {
  padding: 50px 20px 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-logo img {
  height: 80px;
}

.header-phone-text {
  color: #c3002f;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 0;
}

.header-phone-text a {
  color: #000;
  font-weight: 600;
}

.header-phone-text span {
  font-weight: 400;
}

/* Navbar */
.navbar-nav {
  width: 100%;
  justify-content: space-around;
}

#navbarNav {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.93);
}

.bg-light {
  background-color: #4c4c4c !important;
  border-bottom: 2px solid #333333;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-dark .navbar-toggler {
  border: none;
}

.navbar-toggler {
  font-size: 1.45rem;
}

/* Slideshow banner */
#home-banner {
  padding: 0;
}

.carousel-inner {
  max-height: 800px;
}

.carousel-item {
  max-height: 800px;
}

.carousel-item,
.carousel-item img {
  max-height: 800px;
  object-fit: cover;
  object-position: 50% 75%;
}

.carousel-control-next,
.carousel-control-prev {
  background: #4c4c4c;
  height: 150px;
  width: 30px;
  bottom: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 1;
  transition: all 0.3s ease;
}

.carousel-control-next:hover,
.carousel-control-next:focus,
.carousel-control-prev:hover,
.carousel-control-prev:focus {
  background: #333333;
  opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 15px;
  height: 15px;
}

/* Search Field */
.car-search {
  background: #c3002f;
  padding: 20px 0px 10px;
  border-bottom: 5px solid #900000;
}

.car-search-fields {
  display: flex;
  justify-content: space-between;
}

.car-search-fields select {
  width: 24%;
}

.search-button {
  background: #4c4c4c;
  border: none;
  color: #fff;
  padding: 8px 40px;
  border-radius: 3px;
  box-shadow: 0px 2px #333;
  transition: all 0.3s ease;
  font-size: 18px;
  font-weight: 600;
}

.search-button:hover,
.search-button:focus {
  background: #333;
}

.car-search-button {
  margin-top: 8px;
  display: flex;
  justify-content: flex-end;
}

select {
  border-radius: 3px;
  padding: 5px 10px;
  color: #252525;
  font-weight: 600;
  border: 1px solid #cdcdcd;
  background: url("data:image/svg+xml;utf8,<svg width='12' height='8' viewBox='0 0 12 8' xmlns='http://www.w3.org/2000/svg'><path d='M10.59.59L6 5.17 1.41.59 0 2l6 6 6-6' fill='%232d3737' fill-rule='evenodd'/></svg>")
    no-repeat right #fff;
  background-position-x: right;
  background-position-y: center;
  background-origin: padding-box;
  -webkit-appearance: none;
  cursor: pointer;
  background-origin: content-box;
  background-position: right 0.5rem;
  font-size: 16px;
}

/* Services cards */

.services-home .container {
  display: flex;
  justify-content: space-between;
}

.services-home .container .card {
  width: 24%;
}

.card {
  background-color: #4c4c4c;
  border: none;
  border-radius: 0;
  border-bottom: 5px solid #333333;
  transition: all 0.3s ease;
}
.card:hover,
.card:focus {
  background: #333;
}

.card a:hover {
  text-decoration: none;
}

.card-body {
  color: #fff;
  text-align: center;
  line-height: 1;
  transition: all 0.3s ease;
  padding: 10px 25px;
}

.card-title {
  font-size: 32px;
  margin-bottom: 4px;
  font-weight: 600;
}

.card-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

/* Home intro text */
.intro-text-home.primary {
  text-align: center;
}

.intro-text-home .container {
  max-width: 1170px;
}

.intro-text-home {
  padding: 45px 0;
}

.primary p {
  color: #636363;
}

/* Featured cars */
.featured-vehicles .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.featured-vehicles.default {
  padding: 60px 0 100px;
}

.featured-vehicles.default h2 {
  text-align: center;
}

.slick-list.draggable {
  max-width: 1370px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 90%;
}

.featured-vehicles .slick-prev,
.slick-next.slick-arrow {
  background: #4c4c4c;
  height: 150px;
  width: 30px;
  transition: all 0.3s ease;
}

.featured-vehicles .slick-prev:hover,
.featured-vehicles .slick-prev:focus,
.featured-vehicles .slick-next:hover,
.featured-vehicles .slick-next:focus {
  background: #333333;
}

.featured-vehicles .slick-prev {
  left: 0;
}

.featured-vehicles .slick-next {
  right: 0;
}

.featured-vehicles .slick-prev::before,
.featured-vehicles .slick-next::before {
  font-family: "Fontawesome";
  color: #fff;
  opacity: 1;
  font-size: 16px;
  font-weight: 900;
}

.featured-vehicles .slick-next::before {
  content: "\f054";
}

.featured-vehicles .slick-prev::before {
  content: "\f053";
}

.featured-vehicles .card {
  background: none;
  border: none;
}

.card-container {
  margin: 2%;
  background: #c3002f;
}

.card-container {
  margin: 2%;
  background: #c3002f;
  border-bottom: 4px solid #900000;
  transition: all 0.3s ease;
}

.vehicles-slider .card-body:hover,
.vehicles-slider .card-body:focus {
  background: #900000;
}

.vehicles-slider {
  padding-top: 10px;
}

.card-container i {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.card-container p {
  margin-bottom: 0;
  line-height: 24px;
}

.car-make-model {
  font-size: 24px;
}

.car-info {
  font-size: 20px;
}

.car-make-model,
.car-info {
  font-weight: 400;
}

.vehicles-slider .card-body {
  padding: 10px;
}

.car-price {
  font-size: 32px;
  margin-top: 5px;
}

/* Breadcrumbs */
.breadcrumbs {
  padding: 20px 50px;
}

.breadcrumbs a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.breadcrumbs span {
  margin: 0 15px;
  color: #9b9b9b;
  font-size: 14px;
}

/* Footer */
footer {
  background: #333333;
  text-align: center;
  color: #fff;
  padding: 60px;
  font-weight: 300;
}

footer a {
  color: #fff;
  font-weight: 400;
}

footer a:hover {
  color: #fff;
}

footer a i {
  font-size: 30px;
}

.footer-social-icons {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.footer-social-icons i {
  transition: all 0.3s ease;
  font-size: 40px;
}

.footer-social-icons i:hover,
.footer-social-icons i:focus {
  color: #c8c8c8;
}

.footer-list ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
}

.footer-list ul li {
  padding: 0 5px;
}

.footer-address p {
  margin-bottom: 25px;
  font-size: 16px;
}

.footer-copyright p {
  font-size: 16px;
}

.footer-dealer-list {
  max-width: 450px;
  margin: 25px auto 0;
}

.footer-legal.footer-list {
  max-width: 250px;
  margin: 0 auto;
  padding: 25px 0;
}

/* Responsive */
@media only screen and (max-width: 1023px) {
  .services-home .container .card {
    width: 48%;
    margin-bottom: 20px;
  }

  .services-home .container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 767px) {
  .container,
  .container-sm {
    max-width: 700px;
  }

  .featured-vehicles .container {
    max-width: 90%;
  }

  .intro-text-home .container {
    max-width: 700px;
  }
}

@media only screen and (max-width: 640px) {
  .container,
  .container-sm {
    max-width: 700px;
  }

  .car-search-fields {
    flex-wrap: wrap;
  }

  .car-search-fields select {
    width: 100%;
    margin-bottom: 15px;
  }

  .services-home .container {
    flex-wrap: wrap;
  }

  .services-home .container .card {
    width: 100%;
    margin-bottom: 20px;
  }

  .services-home .container .card:last-child {
    margin-bottom: 0;
  }

  .header-logo img {
    width: 100px;
  }

  .header-phone {
    top: 22px;
  }

  .header-phone-text {
    font-size: 16px;
  }

  .header-logo {
    padding: 0px;
  }

  .carousel-control-next,
  .carousel-control-prev {
    display: none;
  }

  .featured-vehicles .slick-prev,
  .featured-vehicles .slick-next.slick-arrow {
    width: 25px;
  }

  .featured-vehicles .slick-prev::before,
  .featured-vehicles .slick-next::before {
    font-size: 12px;
  }

  .slick-list.draggable {
    width: 80%;
  }
}

@media only screen and (max-width: 265px) {
  .header-phone {
    display: none;
  }
}
